.categories{
    line-height: 1.8;
    h4{
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        color: $white;
    }
    .categories-list{

        &--main{
            border-bottom: 1px solid $darkgray;
            padding-bottom: 1rem;
            ul{
                li{
                    a{
                        text-decoration: none;
                        color: $popstar;
                        display: block;
                        padding: 0.5rem 0;
                    }
                }
            }
        }
        &--secondary{
            padding: 1rem 0;
            ul{
                li{
                    a{
                        text-decoration: none;
                        color: $popstar;  
                        display: block;
                        padding: 0.5rem 0;
                    }
                }
            }
        }
    }
}